<style>
    nav {        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 70px;
    }
    nav a {
        display: inline-block;
        line-height: inherit;
        white-space: nowrap;
        font-size: 1.25rem;
        flex-grow: 1;
    }
    nav a img {
        max-width: 100%;
        max-height: 1.5rem;
    }
    nav ul {
        display: flex;
        flex-direction: row;        
        list-style: none;
        margin: auto;
    }
    nav ul li {
        margin-right: 10px;
        border-style: none;
    }
    nav > div {
        flex-grow: 5;
        margin: auto 0;
    }
    ul.state {
        justify-content: end;
    }
    .div_language {
        position: relative;
    }
    .id_language {
        display: none;
    }    
    span,
    a {
        margin: auto 10px auto;
    }
</style>
<nav>
    <a href="/">
        <img src="/images/WebCeph_logo.png">
    </a>
    <div>
        <ul>
            <li>GUIDE</li>
            <li>PRICING</li>
            <li>ABOUT</li>
        </ul>
    </div>
    <div>
        <ul class="state">
            <li>
            <form>
                <input type="hidden" name="csrfmiddlewaretoken" value="">
                <div>
                    <div class="div_language">
                        <input type="hidden" name="next" value="">
                        <input type="hidden" name="language" value="">
                        <li>
                            <a href="#"><span>English</span></a>                            
                        </li>
                        <div class="id_language">
                            <a href="#"><span>English</span></a>
                            <a href="#"><span>中文</span></a>
                        </div>
                    </div>
                </div>
            </form>
            </li>
            {{#if session.nickname }}
            <li><span> {{session.nickname}} </span></li>
            <li><span onclick="logout()"> logout </span></li>
            {{else}}
            <li><a href="/en/login">Log in</a></li>
            <li><a href="/en/register">Sign up</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
<script>
    function logout() {
        if (window.confirm('are you sure to logout?')) {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/logout');
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    window.location.href = '/';
                }
            }
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send();            
        }        
    }
</script>