<nav>
    <a href="/">
        <img src="/images/WebCeph_logo.png">
    </a>
    <div class="menu">
        <ul>
            <li><a href="#">GUIDE</a></li>
            <li><a href="#">Sub</a>
                <ul>
                    <li><a href="#">sub1</a></li>
                    <li><a href="#">sub2</a></li>
                    <li><a href="#">sub3</a></li>
                </ul>
            </li>
            <li><a href="#">PRICING</a></li>
            <li><a href="#">ABOUT</a></li>
        </ul>
    </div>
    <div class="state">
        <ul>
            <li>
                <div class="language_div">
                    <input type="hidden" name="csrfmiddlewaretoken" value="">
                    <div>
                        <input type="hidden" name="next" value="">
                        <input type="hidden" name="language" value="">
                        <div class="language_cur">
                            <a href="#"><span>English</span></a>                                                        
                        </div>
                        <div class="language_other">
                            <div>
                                <a href=""><span>English</span></a>
                                <a href=""><span>中文</span></a>
                                <a href=""><span>法文</span></a>
                                <a href=""><span>俄语</span></a>
                            </div>                            
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="parent">
                    <a href="#">test</a>
                    <div class="child">
                        <span>span1</span>
                        <span>span2</span>
                        <span>span3</span>
                        <a href="#">engline</a>
                        <a href="#">中文</a>
                    </div>
                </div>
            </li>
            {{#if session.nickname }}
            <li><span> {{session.nickname}} </span></li>
            <li><span onclick="logout()"> logout </span></li>
            {{else}}
            <li><a href="/en/login">Log in</a></li>
            <li><a href="/en/register">Sign up</a></li>
            {{/if}}
        </ul>
    </div>
</nav>
<script>
    function logout() {
        if (window.confirm('are you sure to logout?')) {
            let xhr = new XMLHttpRequest();
            xhr.open('POST', '/logout');
            xhr.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    window.location.href = '/';
                }
            }
            xhr.setRequestHeader('Content-type', 'application/json');
            xhr.send();            
        }        
    }
</script>