<style>
    .container {
        min-height: 100%;
        position: relative;
        width: 100%;
        margin: 70px auto 0;
    }
    #id_iframe {
        visibility: hidden;
        display: none;
    }
</style>
<div class="container">
    <div>
        <h3>Login</h3>
    </div>
    <div>
        <form action="/login" method="POST" target="tmpIFrame">
            <input type="hidden" name="csrfmiddlewaretoken" value="">
            <div>
                <label for="id_email">Email</label>
                <input id="id_email" type="email" name="email" required="">
            </div>
            <div>
                <label for="id_password">Password</label>
                <input id="id_password" type="password" name="password" required="">
            </div>
            <input type="submit" value="Login">
        </form>
        <iframe name="tmpIFrame" id="id_iframe" src="" width="0" height="0"></iframe>
    </div>
</div>
<script>
    let iframe = document.getElementById('id_iframe');
    iframe.onload = function(e){
        let text = window.frames[0].document.body.innerText;
        if (text) {
            let res = JSON.parse(text);
            if (res.code > 0) {
                alert(res.message);
            } else if(res.code == 0) {
                setTimeout(()=>{
                    window.location.href = '/';
                }, 100);                
            }
        }
    }
</script>